.bltochno_table {
    width: auto;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
}

.calendar_table{
    font-size: x-large;
    border: solid;
    width: 100%;
    height: auto;
}

.my_row{
    display: flex;
    justify-content: space-between;
}


.my_col{
    width: 14%;
    border: outset;
    max-width: 14%;
}

.my_col:first-child {
    background-color: rgb(0, 255, 242);
}

.my_col:nth-child(2) {
    background-color: rgb(0, 255, 221);
}

.my_col:nth-child(3) {
    background-color: rgb(0, 255, 98);
}

.my_col:nth-child(4) {
    background-color: rgb(0, 255, 0);
}

.my_col:nth-child(5) {
    background-color: rgb(123, 255, 0);
}

.my_col:nth-child(6) {
    background-color: rgb(251, 255, 0);
}

.my_col:nth-child(7) {
    background-color: rgb(255, 208, 0);
}

.event_cell{
    display: flex;
    flex-wrap: wrap;
    font-size: small;

}

.event_row{
    border-bottom: double;
}

.event_table{
    font-size: small;
}

.day_number{
    text-align: right;
    font-size: large;

}

.event_col{
    text-align: left;
    width: 25%;
    max-width: 25%;
}

@-webkit-keyframes flicker {
    50% {background-size: 7px 7px, 3px 3px;}
    100% {background-size: 3px 3px, 7px 7px;}
}
@keyframes flicker {
    50% {background-size: 7px 7px, 3px 3px;}
    100% {background-size: 3px 3px, 7px 7px;}
}
#status_blink_color {
    position: relative;
    font-weight: bold;
    color: #12570d;
}
#status_blink_color:before {
    content: "";
    position:absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px), radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px);
    background-size: 3px 3px, 7px 7px;
    background-position: 0% 50%;
    -webkit-animation: flicker .5s linear infinite alternate;
    animation: flicker .5s linear infinite alternate;
}

.link_for_event_day{
    font-size: small;
    color: blueviolet;
    text-decoration: none;
}

.table_div{
    width: 60%;
}

.non_table_div{
    width: 40%;
    border: solid;
    border-color: coral;
}

.day_content{
    display: flex;
}

.counter{
    width: 3%;
    min-width: 3%;
}

.tm{
    width: 7%;
    min-width: 8%;
}

.name{
    width: 30%;
    min-width: 30%;
}

.category{
    width: 10%;
    min-width: 10%;
}

.status{
    width: 16%;
    min-width: 16%;
}

.desc{
    width: 20%;
    min-width: 20%;
}

.actions{
    width: 14%;
    min-width: 14%;
    display: flex;
}


.add_btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 1px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #F18230;
	border-radius: 25px;
	height: 46px;
	line-height: 0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.add_btn span {
	display: block;	
	box-sizing: border-box;
	padding: 0 25px;    
	height: 42px;
	line-height: 38px;    
	border: 1px solid #F18230;
	border-radius: 25px;    
	font-size: 14px;
	color: #FFFFFF;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
	text-align: center;
	font-weight: 600;
}
.add_btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.add_btn:hover span {
	background-color: #fba768
}
.add_btn:active span {
	background-color: #c17237 !important;
}
.add_btn:disabled {
	opacity: 0.65;
	pointer-events: none;
}
