.bltochno_table {
    width: auto;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
}

.calendar_table{
    font-size: x-large;
    border: solid;
    width: 100%;
    height: auto;
}

.my_row{
    display: flex;
    justify-content: space-between;
}

.my_col{
    width: 14%;
    border: outset;
    max-width: 14%;
}


.event_cell{
    display: flex;
    flex-wrap: wrap;
    font-size: small;

}

.event_row{
    border-bottom: double;
}

.event_table{
    font-size: small;
}

.day_number{
    text-align: right;
    font-size: large;

}

.event_col{
    text-align: left;
    width: 25%;
    max-width: 25%;
}

@-webkit-keyframes flicker {
    50% {background-size: 7px 7px, 3px 3px;}
    100% {background-size: 3px 3px, 7px 7px;}
}
@keyframes flicker {
    50% {background-size: 7px 7px, 3px 3px;}
    100% {background-size: 3px 3px, 7px 7px;}
}
#status_blink_color {
    position: relative;
    font-weight: bold;
    color: #12570d;
}
#status_blink_color:before {
    content: "";
    position:absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px), radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px);
    background-size: 3px 3px, 7px 7px;
    background-position: 0% 50%;
    -webkit-animation: flicker .5s linear infinite alternate;
    animation: flicker .5s linear infinite alternate;
}


.link_for_event_day{
    font-size: small;
    color: blueviolet;
    text-decoration: none;
}

.table_div{
    width: 60%;
}

.non_table_div{
    width: 40%;
    border: solid;
    border-color: coral;
}

.day_table{
    font-size: small;
    border: solid;
    width: 100%;
    height: auto;
}

.day_content{
    display: flex;
}


.counter{
    width: 3%;
    min-width: 3%;
}

.tm{
    width: 7%;
    min-width: 8%;
}

.name{
    width: 30%;
    min-width: 30%;
}

.category{
    width: 10%;
    min-width: 10%;
}

.status{
    width: 16%;
    min-width: 16%;
}

.desc{
    width: 20%;
    min-width: 20%;
}

.actions{
    width: 14%;
    min-width: 14%;
    display: flex;
}

.add_event_button{
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.add_event_button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.add_event_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.day_table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
}
.day_table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
.day_table tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #ddd;
}
.day_table tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #ddd;
}
.day_table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.day_table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.day_table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.day_table tbody tr:nth-child(even) {
	background: #F8F8F8;
}
.day_table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.day_table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.day_table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}