{% extends 'base.html' %}
{% load static %}
{% block title %}Calendar 04{% endblock  %}
{% block content %}
<link rel="stylesheet" href="{% static 'my_calendar/css/style.css' %}">
<!-- <script src="{% static 'my_calendar/js/main.js' %}"></script> -->
<div class="bltochno_calendar">
  <div class="calendar_header" style="display: flex; justify-content: space-between;">
    <button id="btnPrev" type="button"><a href="/calendar/{{year}}/{{prev_month}}">Предыдущий</a></button>
    <div class="calendar_year">{{year}}</div>
    <div class="calendar_month">{{month}}</div>
    <button id="btnNext" type="button"><a href="/calendar/{{year}}/{{next_month}}">Следующий</a></button>
  </div>
  <div id="divCal">
    {% for row in month_list %}
    <div class="row">
      {% for col in row%}
      <div class="col">{{col}}</div>
      {% endfor %}
    </div>
{% endfor %}
  </div>
	</body>
</html>
{% endblock %}
	

