{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}BlTochno{% endblock  %}
{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'my_calendar/css/style.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'my_calendar/css/day_table.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'my_calendar/css/main_page.css' %}">
<div class="container">
    <div class="container_item">
      <div>Текущие задачи</div>
      <div>
        <table id="contactForm" class="day_table">
          <thead>
            <tr>
              <th style="width:80%;">Name</th>
              <th><a class="add_btn" href="{%url 'new_event'%}"><span>Добавить</span></a>
              </th>
               
            </tr>
          </thead>
          <tbody>
            {%for event in current_events%}
            {%if event.status|in_processig_handler:'passed' %}
                <tr id='event_{{event.id}}' style="background-color: rgb(77, 51, 3);">
                {%elif event.status|in_processig_handler:'SUCCES' %}
                <tr id='event_{{event.id}}' style="background-color: greenyellow;opacity: 0.4;">
                {%elif event.status|in_processig_handler:'NO_SUCCES' %}
                <tr id='event_{{event.id}}' style="background-color: indianred;opacity: 0.4;">
                {%elif event.status|in_processig_handler:'PENDING' %}
                <tr id='event_{{event.id}}' style="background-color: rgb(201, 231, 144);opacity: 0.4;">
                {%elif event.status|in_processig_handler:'CANCEL' %}
                <tr id='event_{{event.id}}' style="background-color: grey;opacity: 0.4;">
                {%else%}
                <tr id='event_{{event.id}}'>
                {%endif%}
                  <td>{{event.name}}</td>
                  <td id='actions_{{event.id}}'>
                    <form  method= "POST" >
                        {% csrf_token %}
                        <input value="{{event.id}} SUCCES" id="succes_button" type="image" src="{% static 'my_calendar/img/succes.png' %}" alt="Выполненно" width="20" height="20">
                    </form>
                  </td>
                  <td>
                    <form  method= "POST" >
                        {% csrf_token %}
                        <input value="{{event.id}} CANCEL" id="cancel_button" type="image" src="{% static 'my_calendar/img/cancel.png' %}" alt="Выполненно" width="20" height="20">
                    </form>
                  </td>
              </tr>
            {%endfor%}
              </tbody>
                
              </table>
                
              </div>
                
              </div>
    <div class="container_item">Расписание на сегодняшний день</div>
    <div class="container_item">Бюджет</div>
    <div class="container_item">Еда</div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $("#contactForm").submit(function(e){
          e.preventDefault();
          var values=e.target.lastElementChild.attributes[0].value.split(' ')
          $.ajax({
              type : 'POST',
              url :  "{% url 'event_action' %}",
              contentType: 'application/json',
              headers : {"X-CSRFToken": '{{ csrf_token }}'},
              dataType: 'json',
              data : {
                'id':values[0],
                'action':values[1],
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success : function(response){
                      var event_id='#event_'+values[0]
                      var status_id='#status_'+values[0]
                      var actions_id='#actions_'+values[0]
                      console.log(event_id)
                      console.log(status_id)
                      if (values[1]=='SUCCES'){
                        $(event_id).css('background-color', 'greenyellow').css('opacity','0.4');
                        $(status_id).text('Успешно выполненное');
                        $(actions_id).html("");
                      }
                      else if(values[1]=='NO_SUCCES'){
                        $(event_id).css('background-color', 'indianred').css('opacity','0.4');
                        $(status_id).text('Не выполненное');
                      }
                      else if(values[1]=='PENDING'){
                        $(event_id).css('background-color', 'rgb(201, 231, 144)').css('opacity','0.4');
                        $(status_id).text('Отложенное');
                      }
                      else if(values[1]=='CANCEL'){
                        $(event_id).css('background-color', 'grey').css('opacity','0.4');
                        $(status_id).text('Отмененно');
                      }
  
              },
              error : function(response){
                  console.log(response)
              }
          });
     });
  </script>
{% endblock %}